mixin info-slider(items)
    .info-slider__items.js-slider
        each item in items
            - let tag = item.href ? 'a' : 'div'
            #{tag}.info-slider__item(href= item.href ? item.href : false)
                .info-slider__icon
                    if( item.icon)
                        | !{item.icon}
                    else
                        svg(class='sprite-info-slider-'+item.sprite): use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="./img/sprite.svg#info-slider-"+item.sprite)
                .typography.typography--accent !{item.title}
                if( Array.isArray(item.desc) )
                    ul.list--bullet
                        each desc in item.desc
                            li #{desc}
                else
                    p #{item.desc}
